h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calibri', sans-serif;
    color: #0A455E;
}

h2 {
    font-size: 50px;
    font-weight: bolder;
    border-bottom: 2px solid #0A455E;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Calibri', sans-serif;
    color: #0A455E;
    font-size: 40px;
}

.hr {
   color: #0A455E;
}
    
.cta {
    font-size: 22px;
    text-decoration: underline;
    color: #0A455E;
    
}

.cta:hover {
    color: #FF717B;
    /* text-decoration: none; */
}

p {
    font-family: 'Calibri', sans-serif;
    line-height: 1.75em;
}

/* Navigation */
/* ----------------------------------------------------------- */

#nav-column {
    width: 600px;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
        
}

.navbar-brand {
    color: #fff !important;
}

.navbar-brand:hover {
    color: #FF717B !important;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #FF717B;
}

#navbar-example2 {
    background: #0A455E !important;
    border-bottom: 2 solid #fff;
}

.nav-pills .nav-link.active {
    background-color: #FF717B ;
}


/* Buttons */
/* ----------------------------------------------------------- */

.btn-primary {
    background-color: #0A455E;
    border-color: #0A455E;
}

.btn-primary:hover {
    background-color: #FF717B;
    border-color: #FF717B;
    color: #0A455E;
    transition-duration: 0.4s;
}


/* Page Content */
/* ----------------------------------------------------------- */

body {
    background: #fff;
    color: #0A455E;
    position: relative;
}

.container {
    clear: both;
    background-color: #fff;
    max-width: 960px;
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}

/* slider Section*/
/* ----------------------------------------------------------- */

#slider-row {
    margin-top: -250px;
}

.carousel-caption {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #0A455E;
}

/* About Section*/
/* ----------------------------------------------------------- */

#about-row {
    background: #FFDE98;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 120px;
    padding-right: 50px;
    
}

#about-word {
    padding-top: 10px;
}

#about-column {
    padding: 25px;
    outline: 1px solid #0A455E;
    outline-offset: -10px;
}

#extra-border-about {
    outline: 1px solid #0A455E;
    outline-offset: -50px;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 20px;
 
}



#profile-image {
    width: 390px;
    position: absolute;
    right: 40px;
    bottom: -20px;
    opacity: .9;
}


#bio-image {
    display: none;
}

#last-about {
    padding-bottom: 25px;
}

/* Lang Section*/
/* ----------------------------------------------------------- */
    
#lang-row {
    background-color: #0A455E !important;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#lang-column {
    font-size: 30px;
    text-align: center;
    padding-top: 35px;
}

#lang-word {
    color: #fff;
    border-bottom: 2px solid #fff;
    text-align: left;
    margin-bottom: 50px;
}



.adj1 {
    color: #fff ;
    padding-right: 55px;
}

.adj1:hover {
    color: #00CCA5;
}



/* Portfolio Section*/
/* ----------------------------------------------------------- */

#portfolio-row {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}


.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

.card {
    border: 6px solid #0A455E ;
    border-top: 6px solid #0A455E ;
    border-radius: 10px;
}

.card-body {
    border-top: 6px solid #0A455E ;
}


.yellow {
    background: #FFDE98;
}

.pink {
    background: #FF717B;
}

.blue {
    background: #5DB5DB;
}

.green {
    background: #00CCA5;
}


/* Tool Section*/
/* ----------------------------------------------------------- */
    
#tool-row {
    background-color: #0A455E !important;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#tool-column {
    font-size: 30px;
    text-align: center;
}

#tool-word {
    color: #fff;
    border-bottom: 2px solid #fff;
    text-align: left;
    margin-bottom: 50px;
}


.adj2 {
    color: #fff ;
    padding-right: 55px;
}

.adj2:hover {
    color: #00CCA5;
}



/*Contact Section*/
/* ----------------------------------------------------------- */

#contact-row {
    background: #00CCA5;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 120px;
    padding-right: 50px;
}

#contact-column {
    padding: 35px 45px 15px 25px;
    outline: 1px solid #0A455E;
    outline-offset: -10px;
}

#extra-border-contact {
    outline: 1px solid #0A455E;
    outline-offset: -50px;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 20px;
 
}

#contact-word {
    margin-right: 20px;
}

.form-group {
    width: 98%;
}

#submit {
    width: 200px;
    margin-right: 5px;
}




/*social Section*/
/* ----------------------------------------------------------- */

#social-row {
    background: #FF717B;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#social-column {
    font-size: 100px;
    text-align: center;
}

.adj {
    color: #0A455E ;
}

.adj:hover {
    color: #00CCA5;
}



/* footer */

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0A455E;    
    color: #FF717B;
    text-align: center;
    font-size: 10px;
}

/* Mobile Responsive */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */ 

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 1150px) { 
    

    body {
        background: #fff;
    }

    .container {
        box-shadow: none;
        margin: 0 auto;

    }

    .row-fluid {
        margin-left: 60px;;
    }
    
    
    .navbar-brand {
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav {
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Slider Section*/
    /* ----------------------------------------------------------- */

    
    #slider-row {
        padding: 0;
        margin: 70px 0 0 0;
    }

    .carousel-caption {
        position: absolute;
        top: 50%;
        transform: translateY(-80%);
        font-size: 20px;
        color: #0A455E;
    }

    

     /* About Section*/
    /* ----------------------------------------------------------- */
    
    #about-row {
        padding: 0;
        margin: 0;     
    }

    #about-column {
        outline: 1px solid #0A455E;
        outline-offset: -10px;
       
    }

    #extra-border-about {
        outline: 1px solid #0A455E;
        outline-offset: -50px;
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-right: 20px;
    }

    #about-word {
        margin-right: -70px;
        text-align: center;
    }

    #bio-image {
        display: block;
        position: relative;
        right: 30px;
        width: 150px;
        opacity: .8;
        margin-bottom: 10px;
        margin-right: 30px;
    }

    #profile-image {
        display: none;
    }

    #intro-text {
        text-align: center;
        font-size: 15px;        
    }

    #introTwo {
        display: none;
    }

    /* Lang Section*/
    /* ----------------------------------------------------------- */
    
    #lang-row {
        padding: 20px 0 30px 0;
        margin: 0;
    }

    #lang-column {
        font-size: 25px;
    }

    #lang-word {
        text-align: center;
    }

    #lang-inner {
        font-size: 24px;
        padding-left: 30px;
    }

    /* Portfolio Section*/
    /* ----------------------------------------------------------- */


    #portfolio-row {
        padding: 30px 0 30px 0;
        margin: 0;
    }

    .card-columns {
        margin-right: 60px;       
    }

    #port-word {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* tool Section*/
    /* ----------------------------------------------------------- */

    #tool-row {
        padding: 30px 0 30px 0;
        margin: 0;
    }

    #tool-inner {
        text-align: center;
        font-size: 22px;
        margin-left: 10px;
    }

    #tool-word {
        text-align: center;
    }


    /* Contact Section*/
    /* ----------------------------------------------------------- */

    #contact-row {
        padding: 0;
        margin: 0;
        text-align: center;
        

    }

    #contact-word {
        /* margin-left: -5px; */
    }
    
    #contact-column {
        padding: 25px;
        outline: 1px solid #0A455E;
        margin: 1px -10px 1px -15px;
        font-size: 21px !important;
       
    }

    #extra-border-contact {
        outline: 1px solid #0A455E;
        outline-offset: -50px;
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 70px;
        padding-right: 10px;
    }

    /* Social Section*/
    /* ----------------------------------------------------------- */

    #social-row {
        padding: 25px 0 70px 0;;
        margin: 0 0 0 0;
    }
    #social-column {
        font-size: 80px;
        text-align: center;
    }

}

/* Medium devices (tablets, 768px and up) */
/* @media (max-width: 1000px) {

     #bio-image {
        border-radius: 10px;
        display: inline;
        width: 100%;
        margin-right: 40px;
        position: relative;
        bottom: 25px;
        left: 0;

    }
    
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

